/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  background-color: rgba(248, 250, 250, 1);
  font-family: "Inter";
}

/*Sidebar and Profile styling*/
.grid-container {
  display: grid;

  grid-template-columns: 1fr 13fr;
}

/*Sidebar Styling*/

.sidebar {
  width: 260px;
  padding: 25px;
  background-color: white;
}

.luround {
  display: grid;
  margin: 0 auto;
  margin-bottom: 80px;
}

.list {
  display: grid;
  padding: 0;
  list-style: none;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(29, 46, 46, 0.8);
}

.profilelist {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
}

.profile {
  background-color: rgb(174, 240, 240);
  color: hsla(180, 100%, 32%, 1);
  cursor: pointer;
  border-left: 2px solid hsla(180, 100%, 40%, 1);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sidebarspan {
  margin-top: 2px;
}

.more {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
}

.moreicon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vector {
  visibility: visible;
}

.vector2 {
  display: none;
}

.vector:hover {
  cursor: pointer;
}

.vector2:hover {
  cursor: pointer;
}

.moreDown {
  display: grid;
  visibility: hidden;
  margin-left: 10px;
  list-style: none;
  gap: 30px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgba(29, 46, 46, 0.8);
}

.downlist {
  padding: 10px;
  padding-inline: 20px;
}

.downlist:hover {
  background-color: rgba(235, 255, 255, 1);
  border-left: 2px solid rgba(0, 204, 204, 1);
  cursor: pointer;
}

svg {
  margin-left: 5px;
}

/*search bar styling*/
.searchbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 24px;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.04);
}

.searchinput {
  width: 360px;
  border: 1px solid rgba(225, 231, 231, 1);
  border-radius: 8px;
}

.search {
  position: absolute;
  margin-top: 12px;
  margin-left: 20px;
}

.input {
  padding: 14px;
  border: 0;
  margin-left: 40px;
  font-family: "Inter";
}

.input:focus {
  outline: none;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.icons {
  list-style: none;
  float: left;
}

.imagearrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 32px;
}

.smallerimage {
  width: 32px;
  height: 32px;
  border-radius: 20px;
}

.arrow {
  margin-right: 5px;
}

.share {
  background-color: rgba(198, 36, 36, 1);
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px 12px 16px;
  border-radius: 16px;
  font-weight: 600;
  font-family: "Inter";
  border: 0;
}

/* Profile page styling*/
.reviewprofile {
  display: grid;
  gap: 24px;
  margin: 25px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.05);
}

.svg {
  display: flex;
  gap: 5px;
}

.svg:hover {
  cursor: pointer;
}

.reviews {
  float: right;
  color: rgba(29, 46, 46, 0.65);
  font-size: 14px;
  font-weight: 500;
  visibility: visible;
}
.image {
  position: relative;
  display: inline-block;
}

.img {
  display: block;
}
.scan {
  display: none;
}

.image:hover .img {
  display: none;
}

.image:hover .scan {
  display: block;
  cursor: pointer;
}

.nameprofile {
  display: grid;
  gap: 16px;
  margin-top: -105px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: rgba(29, 46, 46, 1);
  margin-left: 400px;
}

.professional {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profspec {
  margin-left: 400px;
}

.britnext {
  float: right;
}

.imagebrit {
  display: flex;
  align-items: center;
}

.loremicon {
  display: flex;
  align-items: center;
}

.lorem {
  color: rgba(4, 104, 219, 1);
  font-size: 14px;
  font-weight: 400;
  margin-left: 400px;
}

.copy:hover {
  cursor: pointer;
}

/*about and detail container*/
.aboutdetails {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6fr 1fr;
}

/*About container styling*/
.about {
  height: fit-content;
  margin: 25px;
  margin-top: 0px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.05);
}

.aboutlabel {
  font-size: 20px;
  font-weight: 600;
  color: rgba(29, 46, 46, 1);
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  color: rgba(29, 46, 46, 0.8);
}

/*Details container styling*/
.details {
  display: grid;
  gap: 32px;
  width: min-content;
  padding: 24px;
  margin-right: 25px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.05);
}

.otherdetails {
  font-size: 20px;
  font-weight: 600;
  color: rgba(29, 46, 46, 1);
}

.detailsicon {
  display: grid;
  gap: 24px;
}

.icondetails {
  display: flex;
  align-items: center;
  gap: 16px;
}

.labelspan {
  display: grid;
  gap: 4px;
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: rgba(29, 46, 46, 1);
}

.span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(29, 46, 46, 0.8);
}

/*Screen Resolution*/
@media only screen and (max-width: 900px) {
  .grid-container {
    display: none;
  }
}
